{% extends "base.html" %}

{% block head_title %}
  List
{% endblock head_title %}

{% block content %}
  <!-- 主表部份 -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>圖片</th>
        <th>姓名</th>
        <th>內容</th>
        <th>時間</th>
        <th>選項 <a href="{% url 'posts:create' %}" class="btn btn-secondary btn-sm">新增</a></th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
        <tr>
          <td>{{ obj.id }}</td>
          <td>
            {% if obj.image %}
              <img src="{{ obj.image.url }}" width="200" class="img-responsive" ></img>
            {% endif %}
          </td>
          <td>{{ obj.title }}</td>
          <td>{{ obj.content }}</td>
          <td>
            建立：{{ obj.timestamp }}<br>
            更新：{{ obj.updated }}
            {% if obj.user.get_full_name %}
              <p>Author: {{ obj.user.get_full_name }}</p>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'posts:detail' slug=obj.slug %}" class="btn btn-primary btn-sm">查看</a>
            <a href="{% url 'posts:update' slug=obj.slug %}" class="btn btn-success btn-sm">更新</a>
            <a href="{% url 'posts:delete' slug=obj.slug %}" class="btn btn-danger btn-sm">刪除</a>
          </td>
        </tr>
        
      {% endfor%}
    </tbody>
  </table>
  <!-- pagination部份 -->
  {% include "pagination.html" %}
{% endblock content %}



